
@{
    ViewData["Title"] = "Sobre Mí";
}

<h1>Sobre Mí</h1>


<div>
    TODO:
    Artistas Favoritos
</div>

<div>
    TODO:
    Lista de empresas en las que he trabajado (en grande la empresa, en pequeño el proyecto)
</div>

<div class="row">
    <div class="col-sm-12">
        ¡Hola! Soy Miguel Romeral.
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            📅 Nacimiento
        </span>
        <span class="mr-details-section-content">
            🐐 Enero de 1996
        </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            💼 Trabajo
        </span>
        <span class="mr-details-section-content">
            💻 Ingeniero de Software. Desarrollador Web
        </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            👨‍🎓 Estudios
        </span>
        <span class="mr-details-section-content">
            📜 Grado en Ingeniería Informática por la Universidad de Alcalá
        </span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mr-details-section">
        <span class="mr-details-section-title">
            👨‍🎓 escue
        </span>
        <span class="mr-details-section-content">
            📜 Grado en Ingeniería Informática por la Universidad de Alcalá
        </span>
    </div>
</div>

