@using MRA.Services
@model List<BlobFileInfo>

<h1>Lista de Archivos</h1>

<ul>
    @foreach (var fileInfo in Model)
    {
        <li>
            <a href="@fileInfo.Url" target="_blank">@fileInfo.Name</a>
        </li>
    }
</ul>
