@{
    ViewData["Title"] = "Ajustes";
}


<h1>
    Ajustes
</h1>
<div class="row">
    <div class="col-sm-12">
        <h3>Interacciones</h3>
    </div>
    <div class="col-sm-12">
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-heart-fill"></i> Mostrar Kudos
                        </h5>
                        <p>
                            Ver la cantidad de kudos (o "likes") que ha recibido un dibujo.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="showKudosSelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeShowKudos()">
                            <option value="show">Mostrar Kudos</option>
                            <option value="hide">Esconder Kudos</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-eye-fill"></i> Mostrar Visitas
                        </h5>
                        <p>
                            Ver la cantidad de veces que se ha visitado un dibujo.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="hideViewsSelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeHideViews()">
                            <option value="show">Mostrar Visitas</option>
                            <option value="hide">Esconder Visitas</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-spotify"></i> Mostrar Spotify
                        </h5>
                        <p>
                            Si el dibujo tiene una canción sugerida de Spotify, mostrar u ocultar el banner.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="hideSpotifySelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeHideSpotify()">
                            <option value="show">Mostrar Pistas Sugeridas</option>
                            <option value="hide">Esconder Spotify</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-hand-thumbs-up-fill"></i> Mostrar Comentarios Positivos
                        </h5>
                        <p>
                            Ver los comentarios positivos sobre el dibujo.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="hideCommentProsSelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeHideCommentPros()">
                            <option value="show">Mostrar Comentarios Positivos</option>
                            <option value="hide">Esconder</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-hand-thumbs-down-fill"></i> Mostrar Comentarios Negativos
                        </h5>
                        <p>
                            Ver los comentarios negativos sobre el dibujo.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="hideCommentConsSelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeHideCommentCons()">
                            <option value="show">Mostrar Comentarios Negativos</option>
                            <option value="hide">Esconder</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-7-square-fill"></i> Mostrar Puntuación de Artista
                        </h5>
                        <p>
                            Mostrar la puntuación que Miguel ha dado a sus propios dibujos.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="hideScoreMiguelSelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeHideScoreMiguel()">
                            <option value="show">Mostrar Puntuación</option>
                            <option value="hide">Esconder</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-7-circle-fill"></i> Mostrar Puntuación Popular
                        </h5>
                        <p>
                            Mostrar la puntuación media que los usuarios han asignaod a un dibujo.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <select id="hideScorePopularSelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeHideScorePopular()">
                            <option value="show">Mostrar Puntuación Popular</option>
                            <option value="hide">Esconder</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Apariencia</h3>
    </div>
    <div class="col-sm-12">
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-palette-fill"></i> Color Favorito
                        </h5>
                        <p>
                            Establece el color destacado de la página web. Esto afectará al menú, los encabezados, algunos botones, mensajes de detalles, etc.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <input id="iChatColor" type="color" class="m-auto form-control form-control-color" value="#D67DFB" oninput="onInputChatColor(event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Accesibilidad</h3>
    </div>
    <div class="col-sm-12">
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-moon-fill"></i> Modo Oscuro
                        </h5>
                        <p>
                            Ver la página web con colores más claros o más oscuros.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <button id="theme-switch" class="btn mr-custom-btn" onclick="toggleTheme()">Cambiar Tema</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-fonts"></i> Fuente
                        </h5>
                        <p>
                            Cambia entre la fuente original de la web o una fuente algo más estándar (se recomienda cambiar este ajuste si se tiene problemas al leer las letras).
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontFamilySelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeFontFamily()">
                            <option value="josefine">Josefine (Por defecto)</option>
                            <option value="sans-serif">Sans Serif (Estándar)</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-type"></i> Tamaño de la Fuente
                        </h5>
                        <p>
                            Cambia el tamaño del texto a lo largo de la web.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontSizeSelector" class="mr-custom-select form-select form-select-sm" onchange="cambiarTamanio()">
                            <option value="small">Pequeño</option>
                            <option value="medium">Mediano (por defecto)</option>
                            <option value="large">Grande</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-type-bold"></i> Peso de la Fuente
                        </h5>
                        <p>
                            Cambia la fuente de tal manera que se pueda ver o más negrita o más ligera.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontWeightSelector" class="mr-custom-select form-select form-select-sm" onchange="cambiarPeso()">
                            <option value="light">Ligera</option>
                            <option value="normal">Normal (por defecto)</option>
                            <option value="bold">Negrita</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Restablecer</h3>
    </div>
    <div class="col-sm-12">
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            <i class="bi bi-arrow-counterclockwise"></i> Reiniciar Configuración
                        </h5>
                        <p>
                            Volver a la configuración original de la página web.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <button id="btnRestablecer" class="btn mr-custom-btn" onclick="resetConfig()">Reestablecer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p>
            &copy; @DateTime.Now.Year - Developed by <b>
                <a style="color: var(--mr-chat-color);"
                   asp-area="" asp-controller="Home" asp-action="About">MiguelRomeral</a>
            </b>
        </p>
        <div class="mb-2" style="display: flex; width: 100%; flex-direction: column; align-items: center;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <span style="font-weight: 700;" class="mr-development-banner">
                    Página Web en DESARROLLO 🛠
                </span>
                <span style="padding: 0px 20px; font-size: small;">
                    Esta página está todavía en desarrollo, por lo que es posible que veas diversos fallos o alguna funcionalidad no esté del todo disponible. ¡Gracias por tu paciencia!
                </span>
            </div>
            <div class="mr-powered-by-logos mb-2">
                <div class="mr-powered-by-logos-azure" title="Microsoft Azure">
                    <img title="Azure" src="~/assets/images/azure-white.png" style="width: 20px; height: 20px;" />
                    <img title="Microsoft" src="~/assets/images/micro-white.png" style="width: 30px;" />
                </div>
                <div>
                    <img title="Google Firebase" src="~/assets/images/Built_with_Firebase_Logo_Knockout.svg" style="height: 30px;" />
                </div>
            </div>
        </div>
    </div>

</footer>

@section Scripts {
    <script asp-append-version="true">
        changeFontWeight();
        changeShowKudos();
        changeHideViews();
        changeHideSpotify();
        changeHideCommentPros();
        changeLightModeButton();
        changeFontSize();
        changeFontFamily();
        changeHideScoreMiguel();
        changeHideScorePopular();
        changeChatColor();
    </script>
}