@{
    ViewData["Title"] = "Ajustes";
}


<h1>
    Ajustes
</h1>
<div class="row">
    <div class="col-sm-12">
        <h3>Accesibilidad</h3>
    </div>
    <div class="col-sm-12">
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Modo Oscuro
                        </h5>
                        <p>
                            Ver la página web con colores más claros o más oscuros
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <button id="theme-switch" class="btn btn-light" onclick="toggleTheme()">Cambiar Tema</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Fuente
                        </h5>
                        <p>
                            Cambia entre la fuente original de la web o una fuente algo más estándar (se recomienda cambiar este ajuste si se tiene problemas al leer las letras)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontFamilySelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeFontFamily()">
                            <option value="josefine">Josefine (Por defecto)</option>
                            <option value="sans-serif">Sans Serif (Estándar)</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Tamaño de la Fuente
                        </h5>
                        <p>
                            Cambia el tamaño del texto a lo largo de la web
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontSizeSelector" class="mr-custom-select form-select form-select-sm" onchange="cambiarTamanio()">
                            <option value="small">Pequeño</option>
                            <option value="medium">Mediano (por defecto)</option>
                            <option value="large">Grande</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Peso de la Fuente
                        </h5>
                        <p>
                            Cambia la fuente de tal manera que se pueda ver o más negrita o más ligera.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontWeightSelector" class="mr-custom-select form-select form-select-sm" onchange="cambiarPeso()">
                            <option value="light">Ligera</option>
                            <option value="normal">Normal (por defecto)</option>
                            <option value="bold">Negrita</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p>
            &copy; @DateTime.Now.Year - Developed by <b>
                <a style="color: var(--mr-chat-color);"
                   asp-area="" asp-controller="Home" asp-action="About">MiguelRomeral</a>
            </b>
        </p>
        <div class="mb-2" style="display: flex; width: 100%; flex-direction: column; align-items: center;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <span style="font-weight: 700;" class="mr-development-banner">
                    Página Web en DESARROLLO 🛠
                </span>
                <span style="padding: 0px 20px; font-size: small;">
                    Esta página está todavía en desarrollo, por lo que es posible que veas diversos fallos o alguna funcionalidad no esté del todo disponible. ¡Gracias por tu paciencia!
                </span>
            </div>
            <div class="mr-powered-by-logos mb-2">
                <div class="mr-powered-by-logos-azure" title="Microsoft Azure">
                    <img title="Azure" src="~/assets/images/azure-white.png" style="width: 20px; height: 20px;" />
                    <img title="Microsoft" src="~/assets/images/micro-white.png" style="width: 30px;" />
                </div>
                <div>
                    <img title="Google Firebase" src="~/assets/images/Built_with_Firebase_Logo_Knockout.svg" style="height: 30px;" />
                </div>
            </div>
        </div>
    </div>

</footer>

@section Scripts {
    <script asp-append-version="true">
        changeLightModeButton();
        changeFontSize();
        changeFontFamily();
        changeFontWeight();
    </script>
}