@{
    ViewData["Title"] = "Ajustes";
}

@section Styles {
    <link href="~/css/settings.css" rel="stylesheet" asp-append-version="true" />
}

<h1>
    Ajustes
</h1>
<div class="row">
    <div class="col-sm-12">
        <h3>Accesibilidad</h3>
    </div>
    <div class="col-sm-12">
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Modo Oscuro
                        </h5>
                        <p>
                            Ver la página web con colores más claros o más oscuros
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">
                        <button id="theme-switch" class="btn btn-light">Cambiar Tema</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Fuente
                        </h5>
                        <p>
                            Cambia entre la fuente original de la web o una fuente algo más estándar (se recomienda cambiar este ajuste si se tiene problemas al leer las letras)
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontFamilySelector" class="mr-custom-select form-select form-select-sm" onchange="eventChangeFontFamily()">
                            <option value="var(--mr-font-family-default)">Predeterminada</option>
                            <option value="var(--mr-font-family-sans-serif)">Estándar</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="mr-setting-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h5>
                            Tamaño de la Fuente
                        </h5>
                        <p>
                            Cambia el tamaño del texto a lo largo de la web
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 mr-setting-change-value">

                        <select id="fontSizeSelector" class="mr-custom-select form-select form-select-sm" onchange="cambiarTamanio()">
                            <option value="small">Pequeño</option>
                            <option value="medium">Mediano</option>
                            <option value="large">Grande</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script asp-append-version="true">
        changeLightModeButton();
        changeFontSize();
        changeFontFamily();
    </script>
}