@import 'variables.css';



.mr-inspiration-name {
    font-size: var(--mr-font-size-large);
}

/* Contenedor de Final Fantasy */
.mr-ff-container {
    color: var(--mr-ff-text-color);
    border: var(--mr-ff-border-size) solid var(--mr-ff-border-color);
    border-radius: var(--mr-ff-border-radius);
    background: linear-gradient(135deg, #0b0cae, black);
    padding: 6px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 14px;
    font-family: monospace;
    position: relative;
    text-shadow: 1px 1px black;
    font-size: var(--mr-font-size-large);
}

.mr-ff-container .mr-ff-image img {
    border-radius: 0px;
    height: 100px;
}

.mr-ff-stats-basic .mr-ff-stats-item {
    font-weight: var(--mr-font-weight-bold);
}

.mr-ff-stats-basic .mr-ff-stats-item.basic {
    font-weight: var(--mr-font-weight-light);
}

.mr-ff-stats-basic .mr-ff-stats-item .title {
    color: var(--mr-ff-title-color);
    min-width: 50px;
}

.mr-ff-stats-basic{
    padding-left: 10px;
}

.mr-ff-stats-basic span {
    padding-right: 8px;
}

.ff-hand-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative;
}

div.hide-hand:has(> .ff-hand-icon) {
    opacity: 0;
}


div:has(> .ff-hand-icon) {
    position: absolute;
    left: -32px;
    top: -2px;
}


div.flicker:has(> .ff-hand-icon) {
    animation: flicker var(--mr-ff-hand-animation-time) infinite;
}

.ff-hand-container:hover div:has(> .ff-hand-icon) {
    opacity: 1;
}

.ff-hand-icon {
    width: var(--mr-ff-hand-width);
}

.ff-progress-container {
    position: relative;
}

.ff-progress-container div {
    height: var(--mr-ff-progress-bar-height);
    position: absolute;
    width: var(--mr-ff-progress-bar-width);
}

.ff-progress-total {
    background: var(--mr-ff-progress-bar-total-color);
    width: 100%;
    z-index: 1;
}

.ff-progress-health {
    background: var(--mr-ff-progress-bar-total-health);
    z-index: 2;
}

.ff-progress-magic {
    background: var(--mr-ff-progress-bar-total-magic);
    z-index: 2;
}

.mr-ff-title {
    font-size: var(--mr-font-size-large);
    font-weight: var(--mr-font-weight-bold);
}

.mr-ff-container a {
    color: var(--mr-ff-title-color) !important;
}
.mr-ff-container a:hover {
    color: white !important;
}

.mr-inspiration-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;
    font-weight: var(--mr-font-weight-light);
}

.ff-materia {
    width: var(--mr-ff-materia-size);
    height: var(--mr-ff-materia-size);
    min-width: var(--mr-ff-materia-size);
    max-width: var(--mr-ff-materia-size);
    min-height: var(--mr-ff-materia-size);
    max-height: var(--mr-ff-materia-size);
    border-radius: var(--mr-ff-materia-size);
    background: radial-gradient(circle at 30% 30%, #ffffff 0%, #000000 60%, white 100%);
    background-size: cover;
    background-position: center;
    background-position-x: -20%;
    border: 1px solid black;
}

.ff-materia.summon {
    background: var(--mr-ff-materia-summon-color);
    border-color: var(--mr-ff-materia-summon-border);
}

.ff-materia.support {
    background: var(--mr-ff-materia-support-color);
    border-color: var(--mr-ff-materia-support-border);
}

.ff-materia.magic {
    background: var(--mr-ff-materia-magic-color);
    border-color: var(--mr-ff-materia-magic-border);
}

.mr-ff-title-corner {
    position: absolute;
    top: calc(0px - var(--mr-ff-border-size));
    right: calc(0px - var(--mr-ff-border-size));
}

.mr-reference-name-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.mr-ff-container-button {
    cursor: pointer;
}

.hiHeader{
    display: none;
}

.mr-ff-container-button:has(+ .mr-ff-container.collapse.show) .hiHeader {
    display: block;
}