.mr-admin-form-control {

}

    .mr-admin-form-control .label{

    }

    .mr-admin-form-control .mr-not-editable-value {
    }

.mr-lista-imagenes .col-12{
    display: flex;
    flex-direction: column;
}

#imgTmp {
    max-width: 100%;
    display: none;
}

#imgPreviewFullSize, #imgReferencia {
    max-width: 100%;
}

#imgPreviewThumbnail {
    max-width: fit-content;
}

.mr-comment-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .mr-comment-container .mr-comment-pro {
        border-color: var(--mr-chat-color-likes);
    }
    .mr-comment-container .mr-comment-con {
        border-color: var(--mr-chat-color-dislikes);
    }

    .mr-comment-container textarea {
        height: 100px;
    }


.mr-list-drawings-in-collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* width: fit-content; */
    /* max-width: unset; */
    overflow-x: scroll;
}