
// https://xsgames.co/animatiss/

.slide-right {
    animation: slide-right 0.3s ease-in;
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
