@import 'variables.css';

#carouselExampleIndicators {
    /*max-height: var(--mr-carousel-max-height);*/
}

.carousel-inner {
    /*max-height: var(--mr-carousel-max-height);*/
}

.carousel-item {
    /*max-height: var(--mr-carousel-max-height);*/
}

.carousel-item img {
    width: 100%;
    object-fit: contain;
    border-radius: var(--mr-border-radius-image);
}

.mr-carousel-item-image {
    display: flex;
    /* max-height: var(--mr-carousel-max-height); */
    justify-content: center;
    position: relative;
    padding: 0px 10%;
}

.carousel-indicators .mr-carousel-indicator {
    border-radius: 30px !important;
    width: 15px !important;
    height: 15px !important;
    border: 1px solid transparent;
}