@import 'variables.css';

/* Container of every thumbnails */
#artGallery.mr-img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

/* Container of one thumbnail */
.mr-img-thumbnail-container {
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
    height: 100%;
    width: 100%;
}


/* Thumbnail */
.mr-img-thumbnail-container img {
    transition: opacity var(--mr-transition-time) ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--mr-border-radius-image);
}

/* Date thumbnail */
.mr-img-thumbnail-date {
    z-index: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    padding: 0px 8px;
    font-size: x-small;
    border-radius: 30px;
    color: black;
    transition: var(--mr-transition-time) ease-in-out;
}

/* Title of the thumbnail when hovering */
.mr-img-thumbnail-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, transparent 0%, rgba(0,0,0,0.6) 50%, black 100%);
    transition: var(--mr-transition-time) ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--mr-font-size-large);
    flex-direction: column;
    text-align: center;
}

.favorite .mr-img-thumbnail-title {
    background: linear-gradient(160deg, transparent 0%, var(--mr-color-gold) 100%);
    color: white;
}

.mr-img-thumbnail-subtitle {
    font-size: var(--mr-font-size-small);
    font-style: italic;
    text-align: center;
}

/* Image on hover */
.mr-img-thumbnail-container:hover img {
    opacity: 0.7;
}


.mr-img-thumbnail-container .mr-img-thumbnail-info {
    opacity: 0;
}

.mr-img-thumbnail-container:hover .mr-img-thumbnail-info {
    opacity: 1;
}

.mr-img-thumbnail.favorite .mr-img-thumbnail-container:hover .mr-img-thumbnail-title {
    color: white;
    text-shadow: 0 0 4px black;
}

.carousel-item .cuadrado {
    position: relative;
    border-radius: var(--mr-border-radius) !important;
    margin: 1%;
    /* width: 90% !important; */
    /* padding-bottom: 85% !important; */
    padding: 33%;
}

/* Each thumbnail. Size: 4xN */
.cuadrado {
    width: 23%;
    padding-bottom: 23%;
    position: relative;
    border-radius: var(--mr-border-radius) !important;
    margin: 1%;
}

/* Each thumbnail. Size: 3xN */
@media screen and (max-width: 600px) {
    .carousel-item .cuadrado {
        position: relative;
        border-radius: var(--mr-border-radius) !important;
        margin: 1%;
        /* width: 90% !important; */
        /* padding-bottom: 85% !important; */
        padding: 33%;
    }

    .cuadrado {
        width: 31% !important;
        padding-bottom: 31% !important;
        margin: 1%;
    }
}


.carousel-item .contenido {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mr-border-radius-image);
}

/* Thumbnail content, square shape */
.contenido {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mr-border-radius-image);
}

.favorite .mr-img-thumbnail-title {
    color: white;
}


.mr-img-thumbnail-stats {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    z-index: -1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    transition: var(--mr-transition-time) ease-in-out;
    font-size: var(--mr-font-size-small);
}


.mr-img-thumbnail-container:hover .mr-img-thumbnail-stats {
    z-index: 2;
}

.favorite .mr-img-thumbnail-container:hover .mr-img-thumbnail-stats {
    text-shadow: 0 0 4px white;
}

mr-img-thumbnail-stats-item
{
    color: white;
}

.mr-img-thumbnail-stats-item.likes
{
    color: var(--mr-color-red-light);
}
.favorite .mr-img-thumbnail-stats-item.likes {
    color: red;
}