

.mr-setting-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0px;
}

.mr-setting-change-value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
}