
@import 'variables.css';

h1, h2, h3, h4, h5, h6 {
    color: var(--mr-chat-color);
    transition: var(--mr-transition-time);
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    color: var(--mr-text-color) !important;
}

.mr-setting-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0px;
}

.mr-setting-change-value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
}

:root body.mr-setting-text-small {
    --mr-font-size-small: x-small;
    --mr-font-size-default: small;
    --mr-font-size-large: medium;
}

:root body.mr-setting-text-large {
    --mr-font-size-small: medium;
    --mr-font-size-default: large;
    --mr-font-size-large: x-large;
}


:root body.mr-setting-font-josefine {
    --mr-font-family: var(--mr-font-family-default);
}
:root body.mr-setting-font-sans-serif {
    --mr-font-family: var(--mr-font-family-sans-serif);
}

:root body.mr-setting-font-monospace {
    --mr-font-family: monospace;
}

:root body.mr-setting-font-weight-light {
    --mr-font-weight-light: lighter;
    --mr-font-weight-medium: light;
    --mr-font-weight-bold: normal;
}
:root body.mr-setting-font-weight-bold {
    --mr-font-weight-light: normal;
    --mr-font-weight-medium: bold;
    --mr-font-weight-bold: bolder;
}

.mr-setting-section h5 i {
    color: var(--mr-chat-color);
}
.mr-setting-section p {
    font-size: var(--mr-font-size-small);
}