@import 'variables.css';

html {
  font-size: var(--mr-font-size-default);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.mr-filter-container {
    display: inline-flex;
    width: fit-content;
    gap: var(--mr-gap-icon-text);
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.mr-filter-item {
    flex: 1 1 auto;
    min-width: 150px;
    max-width: 49%;
}

    .mr-choice-filter {
        color: var(--mr-color-gold);
    }

    .mr-sort-filter-container {
        display: inline-flex;
        flex-direction: row-reverse;
        width: 100%;
    }

        .mr-sort-filter-container .mr-sort-filter {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

            .mr-sort-filter-container .mr-sort-filter span, span.mr-suboption-filter {
                font-size: small;
                color: grey;
            }

    .mr-loader-container {
        position: relative;
        transition: var(--mr-transition-time) ease-in-out;
    }

.mr-loader {
    position: absolute;
    z-index: -1;
    display: flex;
    background: #00000000;
    width: -webkit-fill-available;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: -webkit-fill-available;
    backdrop-filter: blur(5px);
    text-shadow: 1px 1px 1px black;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.mr-loader.loading {
    z-index: 1000;
    opacity: 1;
}

    img.mr-loading-icon-pacman {
        width: 100px;
        height: auto;
    }

    span.mr-loader-subtitle {
        font-style: italic;
        font-weight: 500;
    }

    .mr-custom-select, .mr-custom-btn {
        background-color: var(--mr-chat-color-secondary);
        border: 1px solid var(--mr-chat-color);
        color: white;
        height: 30px;
        display: flex;
        align-items: center;
        transition: var(--mr-transition-time) ease-in-out;
        cursor: pointer;
    }


.mr-custom-text {
    height: 30px;
    background-color: var(--mr-background-color-secondary);
    color: white;
    border-color: var(--mr-chat-color);
}

        .mr-custom-select:hover, .mr-custom-btn:hover {
            background-color: var(--mr-chat-color);
        }

        .mr-custom-select.filters {
        }

    .hide-on-load {
        opacity: 0 !important;
    }

    .nav-link {
        color: var(--mr-background-color) !important;
        font-weight: bold;
    }

    img.mr-chat-image-miguel.brand {
        border-color: var(--mr-chat-color);
        transition: var(--mr-transition-time);
    }

    a:hover > img.mr-chat-image-miguel.brand {
        border-color: var(--mr-color-gold);
    }

    /* Profile Picture */
    img.mr-chat-image-miguel {
        width: var(--mr-profile-pic-size);
        height: var(--mr-profile-pic-size);
        border-radius: 40px;
        border: var(--mr-border-size) solid var(--mr-chat-color);
        padding: 2px;
        user-select: none;
        pointer-events: none;
    }


    /* Each container section of the detail */
    .mr-details-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: var(--mr-margin-vertical);
    }

    .mr-details-section-title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: smaller;
    }

    .mr-details-section-content {
        font-weight: lighter;
    }

        .mr-details-section-content.large {
            max-height: 150px;
            width: 100%;
            overflow: auto;
        }

        .mr-details-section-content.capitalize {
            text-transform: capitalize;
        }



    .mr-powered-by-logos {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        height: auto;
        gap: 10px;
        align-items: flex-end;
    }

    .mr-powered-by-logos-azure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        user-select: none;
        pointer-events: none;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    }

    ::-webkit-scrollbar-thumb {
        background: var(--mr-chat-color);
        border-radius: 20px;
    }


.dropdown-menu {
    background-color: var(--mr-background-color);
    border-color: var(--mr-chat-color);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--mr-background-color);
}


.mr-body {
    padding-bottom: 50px;
    padding-top: 12px;
}

.mr-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4px 0px;
    height: 50px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    backdrop-filter: blur(5px);
    background-color: var(--mr-nav-color-a);
    z-index: 1000;
}

.mr-bottom-bar-button {
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

    .mr-bottom-bar-button:hover {
        background-color: black;
    }

.mr-bottom-bar-icon {
    font-size: x-large;
    top: 2px;
    position: relative;
}

.mr-bottom-bar-text {
    font-size: small;
    position: relative;
    bottom: 5px;
}

.mr-bottom-profile-pic {
    background-color: black;
    border-radius: 40px;
    position: relative;
}

#bannerDevelopmentMode {
    position: fixed;
    top: 6px;
    right: 3px;
    color: cyan;
    font-size: x-small;
    z-index: 1001;
    width: auto;
}


@media screen and (min-width: 600px) {

    .mr-body {
        padding-left: 130px;
        padding-bottom: 0px;
    }

    .mr-bottom-bar {
        position: fixed;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        left: 0;
        top: 0;
        height: 100%;
        min-width: 130px;
        justify-content: flex-start;
        padding-top: 5%;
        padding-bottom: 30%;
        background-color: var(--mr-chat-color-terciary);
        max-width: 12%;
        gap: 4px;
    }

    .mr-bottom-bar-button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: min-content;
        padding: 10px 5px;
        max-width: 12%;
        justify-content: flex-start;
        gap: 10px;
        min-width: -webkit-fill-available;
    }

    .mr-bottom-bar-icon {
        top: 0px;
        position: relative;
        width: 30px;
    }

    .mr-bottom-bar-text {
        font-size: medium;
        position: relative;
        bottom: 0px;
    }

    .mr-bottom-bar-button:hover {
        background-color: var(--mr-chat-color-secondary);
    }


    #bannerDevelopmentMode {
        position: fixed;
        top: 6px;
        left: 3px;
        width:auto;
    }
}

.mr-development-banner {
    color: cyan;
}