/* variables.css */

:root {
    --mr-background-color: #191919;
    --mr-background-color-secondary: #271e2c;
    --mr-color-box-shadow: #c6b896;
    --mr-chat-color: rgb(214 125 225);
    --mr-chat-color-secondary: rgb(82 63 84);
    --mr-chat-color-likes: rgb(0 167 68);
    --mr-chat-color-dislikes: #f25252;
    --mr-color-red: #eb2e2e;
    --mr-color-red-light: #e16767;
    --mr-color-gold: #ffb023;
    --mr-nav-color: rgb(29 11 40);
    --mr-profile-pic-size: 40px;
    --mr-margin-vertical: 10px;
    --mr-border-size: 2px;
    --mr-border-radius: 12px;
    --mr-padding-btw-border-image: 6px;
    --mr-border-radius-image: calc(var(--mr-border-radius) - var(--mr-padding-btw-border-image));
    --mr-transition-time: 0.4s;
    --mr-gap-icon-text: 5px;
    --mr-font-size-large: large;
    --mr-font-size-default: medium;
    --mr-font-size-small: small;
    --mr-ff-title-color: #04e5e7;
    --mr-carousel-max-height: 400px;
}
