/* variables.css */

:root {
    --mr-background-color: #191919;
    --mr-color-box-shadow: #c6b896;
    --mr-chat-color: rgb(214 125 225);
    --mr-chat-color-secondary: rgb(82 63 84);
    --mr-chat-color-likes: rgb(0 167 68);
    --mr-chat-color-dislikes: #f25252;
    --mr-color-red: #eb2e2e;
    --mr-color-red-light: #e16767;
    --mr-color-gold: #ffb023;
    --mr-nav-color: rgb(29 11 40);
}
