@using MRA.DTO.Firebase.Models
@model Drawing


<div class="facet" data-drawing-id="@Model.Id">
    <div>
        <img src="@Model.UrlThumbnail" />
    </div>
    <div class="detalles">
        <span class="nombre">@(String.IsNullOrEmpty(Model.Name) ? Model.ModelName : Model.Name)</span>
        <span class="id">@Model.Id</span>
    </div>
</div>