@{
    ViewBag.Title = "Administración";
}

<div>
    Hola, Admin!
    
    <div>
        Dibujos
        <a href="@Url.Action("NewDrawing", "Admin")" class="btn mr-custom-btn">Crear Nuevo Dibujo</a>

    </div>
    <div>
        Colecciones
        <a href="@Url.Action("EditCollections", "Admin")" class="btn mr-custom-btn">Editar Colecciones</a>

    </div>
</div>