@using MRA.Services
@using MRA.Web.Models.Images
@model IndexModel

<h1>My Drawings</h1>


<div class="container">
    <div class="mr-img-gallery">

        @foreach (var drawing in Model.Drawings)
        {
            await Html.RenderPartialAsync("Images/_ImageThumbnail", new ImageThumbnailModel(drawing));
         
        }
    </div>
</div>