@using MRA.Web.Models.Images
@model ImageThumbnailModel


<div class="mr-img-thumbnail-container">
    <img src="@Model.Drawing.Url" width="300" height="auto" class="mr-image-thumbnail img-thumbnail rounded">
    <span class="mr-img-thumbnail-title">@Model.Drawing.Id</span>
</div>
