@using MRA.Web.Models.Images
@model ImageThumbnailModel


<a class="mr-img-thumbnail-container" href="@Url.Action("Details", "Art", new { queryId = Model.Drawing.Id })">
    <img src="@Model.Drawing.Url" class="mr-image-thumbnail img-thumbnail rounded">
    <span class="mr-img-thumbnail-title">@Model.Drawing.Id</span>
</a>
