<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiguelRomeral</title> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    @* <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/normalize.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/variables.css rel="stylesheet" asp-append-version="true" />
    <link href="~/css/animations.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/MRA.Web.styles.css" asp-append-version="true" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/images/miguel.jpeg" class="mr-chat-image-miguel brand" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Art" asp-action="Index">🎨 Arte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">😳 Sobre Mí</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <p>
                &copy; @DateTime.Now.Year - Developed by <b>
                    <a style="color: var(--mr-chat-color);"
                       asp-area="" asp-controller="Home" asp-action="About">MiguelRomeral</a>
                </b>
            </p>
        </div>
        <div class="mb-2" style="display: flex; width: 100%; flex-direction: column; align-items: center;">
            <div class="mr-powered-by-logos mb-2">
                <div class="mr-powered-by-logos-azure" title="Microsoft Azure">
                    <img title="Azure" src="~/assets/images/azure-white.png" style="width: 20px; height: 20px;" />
                    <img title="Microsoft" src="~/assets/images/micro-white.png" style="width: 30px;" />
                </div>
                <div>
                    <img title="Google Firebase" src="~/assets/images/Built_with_Firebase_Logo_Knockout.svg" style="height: 30px;" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f3ce16e3e.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
