<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiguelRomeral</title> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />

    @* <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/normalize.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/variables.css rel="stylesheet" asp-append-version="true" />
    <link href="~/css/animations.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/MRA.Web.styles.css" asp-append-version="true" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="dark">
    <span id="bannerDevelopmentMode" title="Página Web en Desarrollo">
        EN DESARROLLO 🛠
    </span>
    <div class="container mr-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <div class="container">
                <p>
                    &copy; @DateTime.Now.Year - Developed by <b>
                        <a style="color: var(--mr-chat-color);"
                           asp-area="" asp-controller="Home" asp-action="About">MiguelRomeral</a>
                    </b>
                </p>
                <div class="mb-2" style="display: flex; width: 100%; flex-direction: column; align-items: center;">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <span style="font-weight: 700; color: cyan;">
                            Página Web en DESARROLLO 🛠
                        </span>
                        <span style="padding: 0px 20px; font-size: small;">
                            Esta página está todavía en desarrollo, por lo que es posible que veas diversos fallos o alguna funcionalidad no esté del todo disponible. ¡Gracias por tu paciencia!
                        </span>
                    </div>
                    <div class="mr-powered-by-logos mb-2">
                        <div class="mr-powered-by-logos-azure" title="Microsoft Azure">
                            <img title="Azure" src="~/assets/images/azure-white.png" style="width: 20px; height: 20px;" />
                            <img title="Microsoft" src="~/assets/images/micro-white.png" style="width: 30px;" />
                        </div>
                        <div>
                            <img title="Google Firebase" src="~/assets/images/Built_with_Firebase_Logo_Knockout.svg" style="height: 30px;" />
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    
    <div class="mr-bottom-bar">
        <a class="mr-bottom-bar-button" asp-area="" asp-controller="Home" asp-action="Index">
            <div class="mr-bottom-bar-icon">
                🤩
            </div>
            <div class="mr-bottom-bar-text">
                Colección
            </div>
        </a>
        <a class="mr-bottom-bar-button" asp-area="" asp-controller="Art" asp-action="Index">
            <div class="mr-bottom-bar-icon">
                🎨
            </div>
            <div class="mr-bottom-bar-text">
                Galería
            </div>
        </a>
        <a class="mr-bottom-bar-button" asp-area="" asp-controller="Home" asp-action="About">
            <div class="mr-bottom-profile-pic">
                <img src="~/assets/images/miguel.jpeg" class="mr-chat-image-miguel brand" />
            </div>
            
            <div class="mr-bottom-bar-text">
                Sobre Mí
            </div>
        </a>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f3ce16e3e.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
